if SHIELD_VKH1SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "vkh1split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_VKH1SPLIT_LEFT

if SHIELD_VKH1SPLIT_LEFT || SHIELD_VKH1SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_VKH1SPLIT_LEFT || SHIELD_VKH1SPLIT_RIGHT
